{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}
    <!-- <div class="flash-region">
        <img class="flash-img" src="{{ base_url }}/image/tree2.jpg?sc=banner1&a=40,0,0,0" alt="tree2" > -->
        <!-- <img class="flash-img" src="https://sstatic.se/image/kurs/design/ux.jpg?w=1100&h650&crop-to-fit" alt="flashimg" > 
        
    </div> -->

    <div class="main" role="main">
        {{ content }}
    </div>
    <!-- <div class="yellow my-div"></div> -->

 
    {% include 'incl/footer.twig' %}
</body>

</html>
