

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  html {
    font-size: $font-size-html-default;
  }
}

body {
  display: flex;
  flex-direction: column;
  font-family: $font-family-montserrat;
  line-height: $line-height-default;
  
  p {
    font-weight: $font-weight-normal;
    /* font-style: italic; */
    font-size: 1.4em;
    margin-bottom: 1.96rem;
    letter-spacing: $letter-spacing-default;
  }

  .main {
    flex: 1 0 auto;
    font-size: 0.8rem;
    width: $width-main-deafult;
    margin: 0 auto;
    color: $font-color-main-default;
  }
}






