
@mixin display($display: flex) {
  display: $display;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header {
  @include display;
  height: 40%;
  padding: 0.2rem;
  background-color: #aaa;
}

.siteheader {
  @include display;
}

