
.header {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
  background-color: #aaa;
}

.siteheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

