
@media (max-width: 767px) {
  .header {
    flex-direction: row;
    height: 38%;
    padding: 2em;
  }

  .main {
    max-width: 24em;
    padding: 0.2rem;
  }
  
  .footer {
    height: 35%;
  }

  .pfooter {
    font-size: 0.8rem;
  }

  .social {
    a i {
      font-size: 1.8rem;
      padding: 0.1em;
    }
  }

  .nav a {
    font-size: 0.7rem;
  }
  
  .title {
    font-size: 0.4rem;
  }
  
  h1 {
    font-size: 1.4rem;
  }

  img {
    max-width: 35%;
    max-height: 35%;
    margin-top: 5em;
  }

  img .me {
    max-width: 40%;
    max-width: 40%;
    margin-bottom: 1em;
  }
}
