

.social {
  a i {
    font-size: 5rem;
    color: $font-alternative-color;
    text-decoration: none;
    padding: 0.3em;
  }

  a i:hover {
    color: #8a2be2;
  }
  
  a i:visited {
    color: #00f;
  }
}
