
.old-fashioned {
  // font-family: "Metal", serif;
  // font-weight: 400;
  // font-style: normal;
  font-family: 'Ballet', cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: $accent-color-dark;
}

.modern {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.worst-ever {
  font-family: 'Rock Salt', cursive;
  font-weight: 400;
  font-style: normal;
}
