$font-size-html-default: 100%;
$width-main-deafult: 64em;
$margin-main-deafult: 1.96rem auto;

$accent-color: #ee6c4d;
$accent-color-dark: rgba($accent-color, 0.88);

$background-alternative-color: #e0fbfc;
$background-color: #3d5a80;

$font-alternative-color: #fff;
$font-color: #000;
$font-color-main-default: #333;

$font-family-montserrat: 'Montserrat', sans-serif;

$line-height-default: 1.4;

$font-weight-normal: normal;

$letter-spacing-default: 1px;
